.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}
.nav-link{
  color: white;
  font-size: 20px;
}
.nav-link:hover {
  color: #4DE800 !important;
  text-decoration: underline;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #4DE800 !important;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0);
}
.App-header {
  background-color: #060e95 !important;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content{
  align-items: center;
    justify-content: center;
    display: flex;
  margin-top: 100px;
}
.tableau-jpl td,.tableau-jpl th,.tableau-jpl tr{
  border: solid 1px;
}
.tableau-jpl th{
  text-transform: uppercase;
  padding: 0 12px;
  text-align: start;
}
.tableau-jpl td{
  text-align: start;
  padding: 0 10px;
}
.tableau-jpl {
 color: white;
 background: linear-gradient(122deg, rgb(2 46 255) 0%, rgba(151, 6, 211, 1) 100%)
}
.btn-pagination{
  border: 2px solid #000 !important;
  padding: 6px 12px;
  border-radius: 7px;
  color: black;
}
.btn-pagination:hover {
  border: 2px solid #E737F8 !important;
  background: #E737F8;
  color: #fff;
  padding: 6px 12px;
  border-radius: 7px;
}
.search-input {
  font-size: 25px;
  padding: 5px 25px;
  border-radius: 0px 0px 15px 15px;
  color: #000 !important;
  box-shadow: none;
  border-color: #000 !important;
  border-radius: 60px !important;
  font-weight: 600;
  margin-bottom: 20px;
}
.rencontre-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 10px;
  margin-bottom: 5px;
}
.rencontre-heure{
  background-color: #060e95;
  color: white;
  font-weight: bolder;
}
.rencontre-score{
  background-color: #337d0e ;
  color: white;
  font-weight: bolder;
}
.rencontre-equipe{
  background-color: black;
  color: white;
}
.rencontre-date {
  color: white;
  background: linear-gradient(122deg, rgb(2 46 255) 0%, rgba(151, 6, 211, 1) 100%);
  margin: 10px 0px;
 }
 .rencontre-journee{
  color: white;
  background: linear-gradient(122deg, rgb(2 46 255) 0%, rgba(151, 6, 211, 1) 100%);
  width: fit-content;
  padding: 10px 20px;
 }
 .pagination span{
  padding: 6px 12px;
 }